    <section class="sidebar c3">
      <ol class="repos">
        <% 20.times do |row| %>
        <li> hello </li>
        <% end %>
      </ol>
    </section>
    <section class="c9 main section">
      <%= yield %>
    </section>