<section class="sidebar c3">
  <ol class="lists">
    <% 20.times do |row| %>
    <li> <a href="repos/1"> Example Repo </a> </li>
    <% end %>
  </ol>
</section>
<section class="c9 main section">
  <h1> main section </h1>
</section>