common: &common
  adapter:  postgresql
  host: localhost
  pool:     5
  timeout:  5000
  min_messages: warning

development: &development
  <<: *common
  database: PROJECT_NAME_development

test: &test
  <<: *common
  database: PROJECT_NAME_test


production: &production
  <<: *common
  database: PROJECT_NAME_development

