<section class="sidebar c3">
  <ol class="lists">
    <li class="actions">
      <a class="c5_5 action selected">issues</a>
      <a class="c5_5 action end">Pulls</a>
    </li>
    <% 40.times do |n| %>
    <li> <a href="#main"> issue #<%= n %> </a> </li>
    <% end %>
  </ol>
</section>
<section id="main" class="c9 main section">
  <h1> main section </h1>
  <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </h2>
  <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </h2>
  <h2> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
  tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
  quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
  consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
  cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
  proident, sunt in culpa qui officia deserunt mollit anim id est laborum. </h2>
</section><!--
<section class="list-holder c12">
  <ol class="lists">

    <% 5.times do |row| %>
    <li class="success"> <p>an issue</p></li>
    <% end %>
    <% 5.times do |row| %>
    <li class="fail"> <p>an issue</p></li>
    <% end %>
  </ol>
</section>
<section class="c12 main">
  <h1> main section </h1>
</section> -->