/*
 *= require_self
*/
@import url(http://i.icomoon.io/public/temp/eae6a928fc/UntitledProject2/style.css);
@import url(http://fonts.googleapis.com/css?family=Inconsolata:400,700|Gruppo);
// Add percentage of white to a color
@function tint($color, $percent){
  @return mix(white, $color, $percent);
}

// Add percentage of black to a color
@function shade($color, $percent){
  @return mix(black, $color, $percent);
}


html {
  background: rgba(197,207,198,0.8);
  padding: 10px;
  height: 100%;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100%;
  height: 100%;
  color:#bbb;
  font-family: 'Inconsolata', cursive;
}

a {
  color:#bbb;
  text-decoration: none;
}
a:hover {
  color:tint(#bbb,40)
}


h1,h2,h3,h4,h5,h6 {
  margin-top: 0;
}

ul,ol {
  padding: 0;
  margin: 0;
  list-style: none
}

.pull-right {
  float: right !important;
}

body .page,
body .page > .row {
  min-height: 100%;
  height: 100%;
  font-size: 20px;
}

$sidebar-color:rgba(71,72,67,0.5);
section.sidebar,
section.main,
section.list-holder {
  height: 98%;
  background: $sidebar-color;
  box-shadow: 0 0 1px 2px rgba(208,216,209,1) inset;
  background-clip: border-box;
  border-radius:2px;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;

}

section.main {
  background: rgba(255,255,255,0.7);
  color:rgb(71,72,67);
  padding: 15px;
}

 .lists {
    margin-top: 10px;
  }
.lists > li {
  overflow: hidden;
}

.lists.light *,
.lists.light a {
  color: #fff;
}

.lists.small,
.lists.small * {
  font-size: 1rem;
  font-weight: bold;
}

.lists.small [class^="icon-"]:before,
.lists.small [class*=" icon-"]:before {
  font-size: 1rem;
  margin-right: 5px;
}

  .lists  > li > * {
    line-height: 2;
    margin: 0;
  }

  .lists .actions.inline {
    overflow: hidden;
  }


  .lists .actions.inline li {
    display: block;
    float: left;
    margin-right: 10px;
    text-align: center;
    padding: 10px;
    border: 0px solid;
    border-radius: 5px;
    min-height: 36px;
    box-shadow: none;
  }

  .lists .actions.inline li > *,
  .lists .actions.inline li > *[class^="icon-"]:before,
  .lists .actions.inline li > *[class^="icon-"]:before {
    display: block;
    margin: 0 auto;
  }


  .lists  > li {
    margin: 5px 10px;
  }

  .lists  > li,
  .lists .lists-styling {
    padding: 0 10px;
    line-height: 2;
    margin-bottom: 15px;
    margin-top: 15px;
  }

  .lists  > li,
  .lists > li .action,
  .lists .lists-styling {
    background: $sidebar-color;
    border-radius: 2px;
    box-shadow: 0 0 1px 2px tint($sidebar-color,30) inset;
  }

  .lists .lists-styling .action:last-of-type {
    margin-bottom: 0px;
  }


  .lists .actions {
    padding: 5px;
    overflow: hidden;
  }

  .lists * > .actions ~ .actions {
    margin-top: -15px;
  }

  .lists .actions:hover li {
    box-shadow:none;
  }

  .lists .actions > li {
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    font-weight: bold;
    padding: 5px 0;
    box-shadow: 0 0 1px 2px tint($sidebar-color,20) inset;
  }

  .lists .actions > li:hover,
  .lists .actions > li.selected {
    background: shade($sidebar-color,30);
    cursor: pointer;
    box-shadow: 0 0 1px 2px shade ($sidebar-color,20) inset;
  }

  .avatar {
    height: 64px;
    padding: 8px ;
    display: block;
    float: left;
  }
